*{
	font-family: Arial;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
	height: 100%; /*calc(100%-50px);*/
}

html{
	height: 100%;
}

 A { color: white;} 
 A:hover {
 	background-color: green;
 }
 
 ::selection {
 	color: white;
    background-color: green;
 }
 
 main::first-letter { 
 	color:red;
    font-size: 25px; 
}
 
 .nav {
 	list-style: none;
  	background-color: red;
  	float: left;
  	width: 200px;
  	color: white;
  	padding: 30px 30px 30px 35px;
  
 } 
 
 .nav a{
 	display: block;
    margin: 10px;
 }
 
 .content{
 	background-color: white;
 	padding: 30px;
 	text-align: justify;
    margin-left: 200px;
	/*height: 100%;*/
 }
 
 .header{
	 background-color: green;
     color: white;
	 margin-bottom: 0;
	 text-align: center;
	 height:45px; 
	 vertical-align: center;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 font-size: 25px;
 }
 
 .footer{
	
	 background-color: black;
     color: white;
	 text-align: center;
	 height:25px; 
	 vertical-align: center;
	 padding-top: 3px;
	 padding-bottom:3px;
	 font-size:15px;
	 width: 100%;
     
 }
 
 .page{
	 background-color: red;
     margin-left: auto;
	 margin-right: auto;
	 width: 769px; 
	 min-height: 100%;
	/* display: flex;*/
     
 }
 @media (max-width:600px){
  .page{
	width: inherit;
	margin-left: 0px;
  }
 }